<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>个人通讯录管理系统</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <script type="text/javascript" src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script rel="script" src="/static/js/myscript.js"></script>
</head>

<body>
<div id="header">
    <h1>添加新记录</h1>
</div>
<div  class="content">
    <form id="listForm" onsubmit="return checkform()">
        <div class="text_line more_margin">
            <label>姓名：</label>
            <input type="text" name="name">
        </div>

        <div class="text_line more_margin">
            <label>电话：</label>
            <input type="text" name="phoneNumber">
        </div>
        <div class="text_line more_margin">
            <label>邮箱：</label>
            <input type="text" name="mail">
        </div>
        <div class="text_line more_margin">
            <label>地址：</label>
            <input type="text" name="address">
        </div>
        <div class="text_line more_margin">
            <label>QQ：</label>
            <input type="text" name="qnumber">
        </div>
        <button type="submit" class="button">提交</button>
    </form>

</div>


<script>

    function checkform(){

        var item = getdata();
        console.log(JSON.stringify(item));
        if (!isempty(item.name, "姓名") || !isempty(item.phoneNumber, "电话") || !isempty(item.mail, "邮箱") || !isempty(item.address, "地址") || !isempty(item.qnumber, "QQ")) {
            return false;
        }
        if (!/^\d+$/.test(item.phoneNumber)) {
            alert("请输入正确的电话，内容应为纯数字！");
            return false;
        }
        if (!/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(item.mail)) {
            alert("请输入正确的电子邮箱！");
            return false;
        }
        if (!/^\d+$/.test(item.qnumber)) {
            alert("请输入正确的QQ号，内容应为纯数字！");
            return false;
        }


        $.ajax({
            url: "/add",
            type: "POST",
            data: JSON.stringify(item),
            contentType: "application/json",
            success: function () {
                alert("添加成功！");
                window.location.href = "/user";
            },
            error: function () {
                alert("添加失败，请重试！");
            }
        });
        return false;
    }
</script>
</body>

</html>