<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleadf.org">

<head>
    <title>个人通讯录管理系统</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <script type="text/javascript" src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script rel="script" src="/static/js/myscript.js"></script>
</head>

<body>
<div id="header">
    <h1>修改记录</h1>
</div>
<div class="content">
    <form id="listForm" onsubmit="return checkform()">
        <div class="text_line more_margin">
            姓名：
            <input type="text" name="name" th:value="${mes.name}">
        </div>
        <div class="text_line more_margin">
            电话：
            <input type="text" name="phoneNumber" th:value="${mes.phoneNumber}">
        </div>
        <div class="text_line more_margin">
            邮箱：
            <input type="text" name="mail" th:value="${mes.mail}">
        </div>
        <div class="text_line more_margin">
            地址：
            <input type="text" name="address" th:value="${mes.address}">
        </div>
        <div class="text_line more_margin">
            QQ：
            <input type="text" name="qnumber" th:value="${mes.qnumber}">
        </div>
        <button type="submit" class="button">提交</button>
    </form>
</div>

<script>
    function checkform() {
        var item = getdata();
        if (!isempty(item.name, "姓名") || !isempty(item.phoneNumber, "电话") || !isempty(item.mail, "邮箱") || !isempty(item.address, "地址") || !isempty(item.qnumber, "QQ")) {
            return false;
        }
        if (!/^\d+$/.test(item.phoneNumber)) {
            alert("请输入正确的电话，内容应为纯数字！");
            return false;
        }
        if (!/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(item.mail)) {
            alert("请输入正确的电子邮箱！");
            return false;
        }
        if (!/^\d+$/.test(item.qnumber)) {
            alert("请输入正确的QQ号，内容应为纯数字！");
            return false;
        }

        var editId = window.location.pathname.match(/\d+/);
        if (editId != null)
            item.id = parseInt(editId[0]);
        else
            item.id = 0;


        $.ajax({
            url: "/change",
            type: "PUT",
            data: JSON.stringify(item),
            contentType: "application/json",
            success: function () {
                alert("添加成功！");
                window.location.href = "/user";
            },
            error: function () {
                alert("添加失败，请重试！");
            }
        });
        return false;
    }
</script>
</body>
</html>