<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleadf.org">
<head>
    <meta charset="UTF-8">
    <title>个人通讯录管理系统</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>
    <div id="header">
        <h1>您请求的页面不存在</h1>
    </div>
    <div class="content">
        <p>您访问了一个不存在的页面，或发起了错误的请求。</p>


        <a href="/user" style="margin-top: 36px">
            <button class="button">返回主界面</button>
        </a>
    </div>
</body>
</html>