<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleadf.org">

<head>
    <title>个人通讯录管理系统</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mystyle.css">
</head>

<body>
<div id="header">
    <h1>用户界面</h1>
</div>
<div class="content">
    <table id="detail">
        <thead>
        <tr>
            <th>姓名</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>住址</th>
            <th>QQ</th>
            <th colspan="2">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mes,state:${message}" th:class="${state.even}? 'alt'">
            <td th:text="${mes.name}"></td>
            <td th:text="${mes.phoneNumber}"></td>
            <td th:text="${mes.mail}"></td>
            <td th:text="${mes.address}"></td>
            <td th:text="${mes.qnumber}"></td>
            <td><a th:href="@{/edit/{id}(id=${mes.id})}">
                <button>编辑</button>
            </a></td>
            <td><a th:href="@{/delete/{id}(id=${mes.id})}" onclick="return confirm('确定要删除吗？')">
                <button>删除</button>
            </a></td>
        </tr>
        </tbody>

    </table>
</div>
<div class="content">
    <div class="button-line">
        <a href="/create"><input type="button" class="button" value="添加新记录"></a>
    </div>
    <div class="button-line">
        <a href="/logout" onclick="return confirm('真的要退出吗？')"><input type="button" class="button" value="退出系统"></a>
    </div>
</div>

</body>

</html>