body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculater {
    width: 400px;
    display: flex;
    flex-direction: column;
    background: #006fff;
    text-align: center;
    border: 4px #111 solid;
    border-radius: 15px;
    box-shadow: 10px 12px 5px #ccc;
}

.title {
    margin: 10px 0;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

#displayer {
    text-align: right;
    margin: 10px;
    padding: 5px;
    background: #fff;
    border: 3px #111 solid;
    border-radius: 10px;
}

#history {
    color: #333;
    font-size: 16px;
    min-height: 21.2px;
}

#show {
    margin-top: 5px;
    font-size: 30px;
    min-height: 35.2px;
}

.buttons {
    margin: 20px 10px 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 12px 7px;
}

.buttons button {
    padding: 3px 0;
    background: #fff;
    border: 2px #111 solid;
    border-radius: 8px;
}

.super {
    vertical-align: super;
    font-size: x-small;
}

.buttons>.warning {
    background: #ff1f1f;
}

.buttons>.equals {
    background: #009f33;
}